body {
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
  margin: 0;
  padding: 0;
}

.container {
  width: 70%;
  margin: 30px auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

.header {
  text-align: center;
}

.header h1 {
  color: black;
}

.header p {
  font-size: 14px;
  color: #555;
}

.section h2 {
  background-color:grey;
  color: white;
  padding: 8px;
  border-radius: 5px;
  font-size: 18px;
}

.section p, .section ul {
  margin: 10px 0 0 20px;
  color: black;
}

table {
  width: 100%;
}

th, td {
  border: 1px solid grey;
  padding: 10px;
  text-align: center;
}

th {
  background-color:grey;
  color: white;
}
